*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    padding: 10px 5rem;
    margin: 2rem 0;
}
.main{
    text-align: center;
    margin-top: 2rem;
}
.btn{
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    margin-left: 10px;
}